* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  z-index: 100;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 10px 0px gray;
}
.header .wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .wrapper .burger {
  display: none;
}
.header .wrapper .logo a {
  font-size: 30px;
}
.header .wrapper .nav ul {
  display: flex;
  align-items: center;
}
.header .wrapper .nav ul li {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.header .wrapper .nav ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  position: absolute;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.header .wrapper .nav ul li a {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.header .wrapper .nav ul li:hover {
  background-color: black;
}
.header .wrapper .nav ul li:hover span {
  background-color: white;
  color: black;
}
.header .wrapper .nav ul li:hover a {
  color: white;
}

@media (max-width: 620px) {
  .header {
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 10px 0px gray;
  }
  .header .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .wrapper .burger {
    display: block;
  }
  .header .wrapper .burger #nav-icon1 {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 30px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .header .wrapper .burger #nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .header .wrapper .burger #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  .header .wrapper .burger #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  .header .wrapper .burger #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  .header .wrapper .burger #nav-icon1.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  .header .wrapper .burger #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .header .wrapper .burger #nav-icon1.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }
  .header .wrapper .logo a {
    font-size: 30px;
  }
  .header .wrapper .nav {
    transition: 0.4s;
    transform: translateX(-100%);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
  }
  .header .wrapper .nav.active {
    border-top: 1px solid black;
    transform: translateX(0%);
  }
  .header .wrapper .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .wrapper .nav ul li {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
  }
  .header .wrapper .nav ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
  }
  .header .wrapper .nav ul li a {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
  }
  .header .wrapper .nav ul li:hover {
    background-color: black;
  }
  .header .wrapper .nav ul li:hover span {
    background-color: white;
    color: black;
  }
  .header .wrapper .nav ul li:hover a {
    color: white;
  }
}
.loading .lds-ripple {
  display: inline-block;
  position: relative;
  width: 8s0px;
  height: 80px;
}
.loading .lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.animate {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
  z-index: -1;
}

@-webkit-keyframes fadeIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.research {
  margin: 0 auto;
}
.research .sort {
  text-align: center;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.research .sort select {
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: black;
}

.products__input {
  margin: 20px auto;
  display: flex;
  gap: 40px;
}
.products__input .input {
  height: 400px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products__input .input input {
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: white;
  padding: 5px;
  width: 70%;
  border-radius: 0;
  border: 1px solid black;
  font-size: 16px;
}
.products__input .input .colors {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, 50px);
}
.products__input .input .check input {
  overflow: hidden;
  position: absolute;
  left: -100%;
}
.products__input .input .check .circle {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.products__input .input .check .circle.active {
  border: 3px solid #dc143c;
}
.products__input .input .reset {
  margin-top: 15px;
  width: 100%;
  max-width: 200px;
  background-color: white;
  border: none;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.products__input .input .reset:hover {
  background-color: black;
  color: white;
}
.products__input .input .categors {
  margin: 0 auto;
  display: flex;
  gap: 2px;
}
.products__input .input .categors button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.products__input .input .categors button:hover {
  background-color: black;
  color: white;
}
.products__input .products {
  width: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
}
.products__input .products .product {
  width: 100%;
  max-width: 270px;
  border: 1px solid black;
  min-height: 400px;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.products__input .products .product:hover {
  box-shadow: 0px 0px 10px 0px gray;
}
.products__input .products .product:hover .choise_product {
  opacity: 1;
  visibility: visible;
}
.products__input .products .product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__input .products .product .choise_product {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__input .products .product .choise_product .blocks {
  display: flex;
  gap: 10px;
}
.products__input .products .product .choise_product .blocks .block {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.products__input .products .product .choise_product .blocks .block a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__input .products .product .choise_product .blocks .block:hover {
  background-color: white;
  color: black;
}

.empty {
  margin: 20px auto;
  width: 55%;
  height: 75vh;
}
.empty p {
  margin: 20px 0;
}
.empty a {
  background-color: black;
  color: white;
  padding: 10px;
  transition: 0.3s;
}
.empty a:hover {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
.empty img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_basket {
  margin: 20px 0;
  text-align: center;
}

.bas {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.wrapper .title_list {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wrapper .title_list button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.wrapper .title_list button:hover {
  background-color: black;
  color: white;
}
.wrapper .basket {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wrapper .basket .product {
  max-width: 550px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  min-height: 50px;
  gap: 50px;
}
.wrapper .basket .product .id {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.wrapper .basket .product .buttons_add_del {
  display: flex;
  max-width: 200px;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}
.wrapper .basket .product .buttons_add_del .del {
  background-color: red;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}
.wrapper .basket .product .buttons_add_del .count {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .basket .product .buttons_add_del .add {
  background-color: green;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}
.wrapper .basket .product img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_fulss {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.product_fulss .block_img {
  overflow: hidden;
  max-width: 340px;
  height: 400px;
}
.product_fulss .block_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  transition: 0.4s;
}
.product_fulss .block_img img:hover {
  transform: scale(0.9);
}
.product_fulss .block_info {
  max-width: 600px;
  width: 100%;
}
.product_fulss .block_info .title {
  text-align: center;
}
.product_fulss .block_info .block_buttons {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}
.product_fulss .block_info .block_buttons button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.product_fulss .block_info .block_buttons button:hover {
  background-color: black;
  color: white;
}
.product_fulss .block_info .description_full {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product_fulss .block_info .description_full .color {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product_fulss .block_info .description_full p {
  font-weight: bold;
}
.product_fulss .block_info .description_full p span {
  font-weight: normal;
}
.product_fulss .block_info .description_full .block {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product_fulss .block_img {
  max-width: 440px;
  min-height: 500px;
  width: 100%;
}
.product_fulss .block_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.comment .inputs_register {
  display: flex;
  margin: 20px auto;
  width: 90%;
  justify-content: space-between;
}
.comment .inputs_register input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  outline: none;
}
.comment .inputs_register span {
  margin-right: 10px;
}
.comment .inputs_register button {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
.comment .inputs_register button:hover {
  background-color: white;
  color: black;
}
.comment .commets_main {
  margin: 20px auto;
  width: 90%;
  height: 450px;
  border: 2px solid black;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comment .commets_main .not_comment {
  position: relative;
  width: 100%;
  height: 100%;
}
.comment .commets_main .not_comment h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comment .commets_main .comment_block {
  display: flex;
  border: 1px solid black;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}
.comment .commets_main .comment_block .comment_block_text {
  max-width: 700px;
  width: 100%;
  text-align: left;
  word-break: break-all;
}
.comment .commets_main .comment_block .buttons {
  padding-right: 5px;
  display: flex;
  gap: 5px;
}
.comment .commets_main .comment_block .buttons button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.comment .commets_main .comment_block .buttons button:hover {
  background-color: black;
  color: white;
}
.comment .commets_main .comment_block .comment_block_img {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}
.comment .commets_main .comment_block .comment_block_img img {
  width: 80%;
  border-radius: 50%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  font-size: 25px;
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  transition: 0.3s;
}
.modal .close:hover {
  background-color: black;
  color: white;
}
.modal .block_main {
  max-width: 320px;
  height: 200px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal .block_main p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.modal .block_main p h1 {
  font-size: 25px;
}
.modal .block_main p input {
  border-radius: 0;
  outline: none;
  padding: 5px;
  font-size: 16px;
}
.modal .block_main p button {
  border: none;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.modal .block_main p button:hover {
  background-color: black;
  color: white;
}

.onsova_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.onsova_form .close {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  transition: 0.3s;
}
.onsova_form .close:hover {
  background-color: black;
  color: white;
}
.onsova_form .froms {
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.onsova_form .froms .steps {
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 50px;
  justify-content: center;
  width: 100%;
  background-color: black;
}
.onsova_form .froms .steps .step_1 {
  position: absolute;
  height: 2px;
  z-index: 1;
  width: 130px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.onsova_form .froms .steps .step {
  z-index: 2;
  width: 30px;
  height: 30px;
  color: #f3f3f3;
  position: relative;
  background-color: black;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.onsova_form .froms .steps .step.completet {
  background-color: green;
}
.onsova_form .froms .steps .step.active {
  background-color: white;
  color: black;
}
.onsova_form .froms .osnova_form {
  width: 100%;
}
.onsova_form .froms .osnova_forms {
  width: 100%;
  padding: 10px 0;
}
.onsova_form .froms .osnova_forms button {
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  outline: none;
  border-radius: 0;
  padding: 10px;
  transition: 0.3s;
}
.onsova_form .froms .osnova_forms button:hover {
  background-color: black;
  color: white;
}

.form_pages {
  padding: 20px 10px;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: flex;
  gap: 10px;
  height: 100%;
}
.form_pages .block {
  width: 50%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_pages .block button {
  background-color: none;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
  transition: 0.3s;
}
.form_pages .block button:hover {
  background-color: black;
  color: white;
}
.form_pages .block .block_buy {
  padding: 5px;
  border: 1px solid black;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.form_pages .block .block_buy img {
  margin-right: auto;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: red;
}
.form_pages.tree {
  background-color: white;
}
.form_pages.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.form_pages h1 {
  font-size: 22px;
}
.form_pages input {
  border: 1px solid black;
  outline: none;
  padding: 10px;
}

.title {
  text-align: left;
  margin-top: 90px;
  padding: 30px 0;
}

.products_main {
  width: 100%;
  border-top: 2px solid black;
  padding: 20px 0;
  border-bottom: 2px solid black;
}
.products_main .wrapper {
  width: 90%;
  margin: 0 auto;
}
.products_main .wrapper .title {
  color: white;
  text-align: left;
  padding: 20px 0;
}
.products_main .wrapper .products .product {
  width: 100%;
  max-width: 270px;
  border: 1px solid black;
  padding: 10px;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.products_main .wrapper .products .product:hover {
  box-shadow: 0px 0px 10px 0px gray;
}
.products_main .wrapper .products .product:hover .choise_product {
  opacity: 1;
  visibility: visible;
}
.products_main .wrapper .products .product img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products_main .wrapper .products .product .choise_product {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products_main .wrapper .products .product .choise_product .blocks {
  display: flex;
  gap: 10px;
}
.products_main .wrapper .products .product .choise_product .blocks .block {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.products_main .wrapper .products .product .choise_product .blocks .block a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_main .wrapper .products .product .choise_product .blocks .block:hover {
  background-color: white;
  color: black;
}

.titles {
  text-align: left;
  margin-top: 25px;
}

.slick-arrow {
  background-color: red;
}

.footer {
  margin-top: 100px;
  padding: 30px 0;
  background-color: black;
  color: white;
  width: 100%;
  box-shadow: 0px 0px -10px 10px gray;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .wrapper .logo {
  font-size: 25px;
}
.footer .wrapper a {
  color: white;
}
.footer .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .wrapper .contacts ul li a {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}
.footer .wrapper .contacts ul li a img {
  width: 40px;
  height: 40px;
}

@media (max-width: 710px) {
  .empty {
    margin: 20px auto;
    width: 100%;
  }

  .bas {
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-direction: column-reverse;
  }

  .wrapper .title_list {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .wrapper .basket .product {
    max-width: 550px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    min-height: 50px;
    gap: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 610px) {
  .bas {
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-direction: column-reverse;
  }

  .title {
    text-align: left;
    margin-top: 0px;
    padding: 20px 0;
  }

  .product_fulss {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .product_fulss .block_img {
    width: 100%;
    margin: 0 auto;
    min-height: 200px;
  }

  .products__input {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .products__input .products .product {
    margin: 0 auto;
  }

  .research .sort select {
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: white;
    color: black;
    display: flex;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
  }

  .comment .commets_main {
    margin: 20px auto;
    width: 100%;
    height: 450px;
    border: 2px solid black;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .comment .inputs_register {
    display: flex;
    margin: 20px auto;
    width: 100%;
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .comment .inputs_register input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    outline: none;
    width: 70%;
  }

  .comment .inputs_register button {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 20px;
    outline: none;
    width: 30%;
    cursor: pointer;
  }

  .comment .inputs_register span {
    display: none;
  }

  .comment .commets_main .comment_block .buttons {
    padding-right: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .comment_block_img {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
  }

  .comment .commets_main .comment_block {
    display: flex;
    border: 1px solid black;
    align-items: center;
    gap: 5px;
    padding: 10px;
    max-width: 100%;
  }

  .Date {
    display: none;
  }

  .comment .inputs_register button:nth-child(1) {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 20px;
    outline: none;
    width: 40%;
    cursor: pointer;
  }
}
@media (max-width: 535px) {
  .wrapper .basket .product {
    max-width: 550px;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 50px;
    gap: 10px;
    margin: 0 auto;
  }

  .wrapper .basket .product .buttons_add_del {
    display: flex;
    max-width: 200px;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .comment .commets_main .comment_block {
    display: flex;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
  }

  .comment_block_img {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row;
  }

  .comment .commets_main .comment_block .buttons {
    padding-right: 5px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    padding: 5px;
  }

  .comment .commets_main .comment_block {
    display: flex;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .form_pages:nth-child(1) {
    padding: 20px 10px;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    overflow: scroll;
    display: flex;
    gap: 5px;
    height: 280px;
    overflow: auto;
    flex-direction: column;
  }
  .form_pages:nth-child(1) .block {
    width: 100%;
  }
  .form_pages:nth-child(1) .block.choise {
    width: 100%;
    max-height: none;
    overflow: hidden;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .onsova_form .froms {
    border-radius: 5px;
    overflow: hidden;
    background-color: #f3f3f3;
    width: 100%;
    margin: 0 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
.Slider {
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
}
.Slider .slider {
  width: 100%;
  height: 440px;
}
.Slider .slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}/*# sourceMappingURL=index.css.map */